<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>B</key>
        <array>
            <string>北京</string>
        </array>
        <key>C</key>
        <array>
            <string>长沙</string>
            <string>重庆</string>
            <string>常州</string>
            <string>成都市</string>
        </array>
        <key>F</key>
        <array>
            <string>佛山市</string>
            <string>福州市</string>
        </array>
        <key>G</key>
        <array>
            <string>广州市</string>
        </array>
        <key>H</key>
        <array>
            <string>哈尔滨市</string>
            <string>杭州市</string>
        </array>
        <key>J</key>
        <array>
            <string>济南市</string>
        </array>
        <key>N</key>
        <array>
            <string>南京市</string>
            <string>南宁市</string>
            <string>宁波市</string>
        </array>
        <key>Q</key>
        <array>
            <string>青岛市</string>
        </array>
        <key>S</key>
        <array>
            <string>上海市</string>
            <string>深圳市</string>
            <string>沈阳市</string>
            <string>石家庄市</string>
            <string>苏州市</string>
        </array>
        <key>T</key>
        <array>
            <string>天津市</string>
        </array>
        <key>W</key>
        <array>
            <string>无锡市</string>
            <string>武汉市</string>
        </array>
        <key>X</key>
        <array>
            <string>西安市</string>
            <string>厦门市</string>
            <string>徐州市</string>
        </array>
        <key>Z</key>
        <array>
            <string>株洲市</string>
        </array>
    </dict>
</plist>